.link-box {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.link-box-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-box-icon {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.link-box-icon svg {
    font-size: 1.5rem;
}

.link-box-text {
    align-self: flex-end;
    font-weight: 600;
    text-decoration: none;
    transition: text-decoration 0.2s ease;
}


.link-box:hover .link-box-text {
    text-decoration: underline;
}