.nav-link:hover {
    color: var(--color-secondary);
}

.site-header {
    height: 76px;
    padding: 0 34px;
}


/* Logo */

.logo span {
    color: var(--color-primary);
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -0.5px;
}


/* Navigation */

.nav-link {
    color: var(--color-primary);
    font-size: 18px;
    font-weight: 600;
    padding: 0 !important;
}

.nav-link:hover {
    color: var(--color-secondary);
}


/* Sign up */

.signup-button {
    font-size: 16px;
    font-weight: 600;

    padding: 9px 17px;

    background-color: var(--color-primary);
    border-color: var(--color-primary);
}

.signup-button:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-secondary);
}

.tools-dropdown {
    width: 100%;
    min-width: 760px;
    min-height: 250px;
    left: 50% !important;
    transform: translateX(-50%);
    margin-top: 20px;
}

