.banner {
    width: 100%;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 12px;
    background-color: black;
}

.count-div .icon {
    color: #6c757d;
}

.count-div strong {
    font-size: 1.1rem;
}