:root {
    /* Brand */
    --color-primary: #3D405B;
    --color-secondary: #E07A5F;
    --color-third: #81B29A;

    /* Background */
    --color-background: #F4F1DE;

    /* Borders */
    --color-border: #dee2e6;

    /* Status */
    --color-success: #198754;
    --color-danger: #dc3545;
    --color-warning: #ffc107;
    --color-info: #0dcaf0;
}